* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1170px;

}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.header-top {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 40px;

}

.list-items {
    justify-content: center;
    display: flex;
    list-style: none;
    color: white;
}

li {
    padding: 15px;
}

.header-bottom {
    margin: auto;
    width: 50%;
    padding: 20px;
}

#text {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 40px;
}

#paragraph {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 18px;

}

.white-button,
.blue-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 80px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.white-button-big {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    padding: 5px;
    margin-right: 15px;
}

.black-button-big {
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 300px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    border: 2px solid black;
    color: #000;
    padding: 5px
}

.blue-button {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
    height: 30px;
    width: 100px;
}

.white-button {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    padding: 5px
}

.entity {
    padding: 3px;
}

.text-button {
    font-size: 20px;
}

.text-button2 {
    font-size: 20px;
    color: white;
}

main {
    max-width: 1170px;
    margin: auto;
}

.main-top {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

.main-middle {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-bottom {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-text2 {
    text-align: center;
}

.box-max {
    display: flex;
    justify-content: center;
}

.main-bonus {
    margin: auto;
    width: 50%;
    margin-bottom: 50px;

}

.box-text {
    width: 28%;
    margin: auto;
}

h2 {
    font-size: 30px;
    text-align: center;

}

.white-button-big2 {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(114, 137, 218, 255);
    border: 2px solid black;
    color: #000;
    padding: 5px;
    margin-right: 15px;
}

.buttom-special {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

footer {
    background-color: rgba(35,39,42,255);
}


.footer-top {
    
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.colonna-principale{
    width: 40%;
    border: 1px dotted white;
    height: 100%;


}

.mini-colonna {
    width: 20%;
    border: 1px dotted aqua;
    height: 100%;

}

#testo{
    text-align: left;
    color: rgba(114,137,218,255);
    margin-bottom: 20px;
}

.ita{
    height: 20px;
    vertical-align:middle;
}

.italiano{
    color: white;
    
}

.item{
    margin-top: 20px;
}


.fa-brands{
    color: white;
    margin: 0px 10px;

    
}





h3{
    text-align: left;
    color: rgba(114,137,218,255);
}


.list-footer,li{
    list-style: none;
    color: white;
    text-align: left;
   
}



.footer-bottom {
    background-color:  rgba(35,39,42,255);;
    display: flex;
    justify-content: center;
    

}

.container8 {
    margin: 10px 0px;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.logo-discord{
    height: 30px;
}